
<div class="row">
  <div class="col-md-8">
    <div class="portlet">
      <div class="portlet-heading bg-inverse">
          <h3 class="portlet-title">
            <i class="fa fa-<%= @page.icon %>"></i> <%= @page.name %>
          </h3>
          <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload"><span class="glyphicon glyphicon-refresh"></span></a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><span class="glyphicon glyphicon-minus"></span></a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
          <div class="clearfix"></div>
      </div>
      <div id="bg-default" class="panel-collapse collapse in">
          <div class="portlet-body">
              <%= @page.content.html_safe %>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
          <a href="#attachments" data-toggle="tab" aria-expanded="true">
              <span class="visible-xs"><i class="fa fa-paperclip"></i></span>
              <span class="hidden-xs">Attachments</span>
          </a>
      </li>
      <li class="">
          <a href="#videos" data-toggle="tab" aria-expanded="false">
              <span class="visible-xs"><i class="fa fa-video-camera"></i></span>
              <span class="hidden-xs">Videos</span>
          </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="attachments">
        <% @page.attachments.each do |attachment| %>
          <p>
            <%= link_to attachment.name, attachment.file_attachment.url(:original) %>
          </p>
        <% end %>
      </div>
      <div class="tab-pane" id="videos">
          <p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
          <p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
      </div>
    </div>
  </div>
</div>
