
<div class="row">
  <div class="col-md-8">
    <div class="portlet">
      <div class="portlet-heading bg-primary">
          <h3 class="portlet-title">
            <%= @page.name %>
          </h3>
          <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload"><span class="glyphicon glyphicon-refresh"></span></a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><span class="glyphicon glyphicon-minus"></span></a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
          <div class="clearfix"></div>
      </div>
      <div id="bg-default" class="panel-collapse collapse in">
          <div class="portlet-body">
              <%= @page.content.html_safe %>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet">
      <div class="portlet-heading bg-primary">
          <h3 class="portlet-title">
            Attachments
          </h3>
          <div class="portlet-widgets">
              <a href="javascript:;" data-toggle="reload"><span class="glyphicon glyphicon-refresh"></span></a>
              <span class="divider"></span>
              <a data-toggle="collapse" data-parent="#accordion1" href="#bg-default"><span class="glyphicon glyphicon-minus"></span></a>
              <span class="divider"></span>
              <a href="#" data-toggle="remove"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
          <div class="clearfix"></div>
      </div>
      <div id="bg-default" class="panel-collapse collapse in">
          <div class="portlet-body">
            <% @page.attachments.each do |attachment| %>
              <p>
                <%= link_to attachment.name, attachment.file_attachment.url(:original) %>
              </p>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
